
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Proveedores</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Registro</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  



<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h1>Agregar Proveedores</h1>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input  name="nombre_proveedor" type="text" class="form-control" 
                    [(ngModel)] ="proveedor.nombre_proveedor">
                </div>
                <div class="form-group">
                    <label for="">Direccion</label>
                    <input name="direccion_proveedor" type="text" class="form-control"
                    [(ngModel)] ="proveedor.direccion_proveedor">
                </div>
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input name="proveedor_telefono" type="text" class="form-control"
                    [(ngModel)] ="proveedor.telefono_proveedor">
                </div>
        
                <button (click)="guardar(proveedor)" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
