<div class ="container">
<button (click)="Listar()" class="btn btn-info">Listar</button>
<button (click)="Nuevo()" class="btn btn-info" style="margin-left: 10px ;">Nuevo</button>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Productos</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>DESCRIPCION</th>
                        <th>CODIGO BARRAS</th>
                        <th>COSTO PRODUCTO</th>
                        <th>PVP</th>
                        <th>UTILIDAD</th>
                        <th>ESTADO IVA </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Producto of productos " class="text-center">
                        <td>{{Producto.id_producto}}</td>
                        <td>{{Producto.nombre_producto}}</td>
                        <td>{{Producto.descripcion_producto}}</td>
                        <td>{{Producto.codigoBarras_producto}}</td>
                        <td>{{Producto.costo_producto}}</td>
                        <td>{{Producto.pvp_producto}}</td>
                        <td>{{Producto.utilidad_producto}}</td>
                        <td>{{Producto.estadoIVA_producto}}</td>
                        <td>
                            <button class="btn btn-warning">Editar</button>
                            <button class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
