<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cliente</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Registro</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h1>Agregar Clientes</h1>
        </div>
        <div class="card-body">
            <form action="" ngNativeValidate [formGroup]="myForm" >
                <div class="form-group">
                    <label for="">Cédula</label>
                    <input   name="cedula" type="number" class="form-control"  formControlName="cedula"
                    [(ngModel)] ="persona.cedula"   minlength="10" maxlength="10" required pattern="^[0-9]*$"
                    title="La cédula consta  de 10 dígitos.">
                </div>
               <div class="form-group">
                    <label for="">Nombre</label>
                    <input id="idnombre" name="nombre_persona" type="text" class="form-control"  formControlName="nombre"
                    [(ngModel)] ="persona.nombre_persona"  minlength="3"  title="El nombre debe tener minimo 3 letras."  required pattern="[a-zA-Z ]*">
                </div>
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input name="apellido_persona" type="text" class="form-control"   formControlName="apellido"
                    [(ngModel)] ="persona.apellido_persona" minlength="3"   title="El apellido debe tener minimo 3 letras." required pattern="[a-zA-Z ]*" >
                </div>
                <div class="form-group">
                    <label for="">Dirección</label>
                    <input name="direccion_persona" type="text" class="form-control"   formControlName="direccion"
                    [(ngModel)] ="persona.direccion_persona" minlength="4"  required pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]*" title="La dirección debe tener un minimo de 4 letras" >
                </div>
                <div class="form-group">
                    <label for=""> Teléfono </label>
                    <input name="telefono_persona" type="text" class="form-control"   formControlName="telefono"
                    [(ngModel)] ="persona.telefono_persona" minlength="10" maxlength="10"   name="Telefono" required pattern="^[0-9]*$"
                    title="El número de teléfono debe tener 10 numeros"  >
                </div>
                <div class="form-group">
                    <label for="">Correo</label>
                    <input  type="email" class="form-control"  formControlName="correo" id="email" name="email" value="" required
                    [(ngModel)] ="persona.correo_persona" >
                </div>


            </form>

        </div>
        <div class="card-footer">
            <div class="input-group mb-3">
                <button type="button" (click)="guardar(persona)" class="btn btn-secondary" style="background-color: green;">Guardar</button>
                <button (click)="cancelar()" class="btn btn-primary"  style="margin-left: 70%;">Cancelar</button>
                
            </div>

        </div>

    </div>

</div>