
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Productos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Modificar</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  



<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h1>Modificar Producto</h1>
        </div>
        <div class="card-body">
            <form action="" (ngSubmit)="Editar()">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input  name="nombre_producto" type="text" placeholder="Ingrese solo letras"  onkeydown="return /[a-zA-Z ]/i.test(event.key)"  class="form-control" 
                    [(ngModel)] ="producto.nombre_producto">
                </div>
                <div class="form-group">
                    <label for="">Descripción</label>
                    <input name="descripcion_producto" type="text" class="form-control"
                    [(ngModel)] ="producto.descripcion_producto">
                </div>
                <div class="form-group">
                    <label for="">Código</label>
                    <input name="codigoBarras_producto" type="text" class="form-control"
                    [(ngModel)] ="producto.codigoBarras_producto">
                </div>
                <div class="form-group">
                    <label for="">Costo del Producto</label>
                    <input name="costo_producto" type="text" class="form-control"
                    [(ngModel)] ="producto.costo_producto">
                </div>
                <div class="form-group">
                    <label for="">Utilidad del Producto (0%)</label>
                    <input name="utilidad_producto" type="text" class="form-control"
                    [(ngModel)] ="producto.utilidad_producto">
                </div>
                <div class="form-group">
                    <label for="">Estado del Producto</label>
                    <input name="estadoIVA_producto" type="text" placeholder="Ingrese solo letras" onkeydown="return /[a-zA-Z ]/i.test(event.key)"   class="form-control"
                    [(ngModel)] ="producto.estadoIVA_producto">
                </div>
                <div class="form-group">
                    <label for="">Tiene IVA el producto</label>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineFormCheck" name="si" id="check"
                        (change)="tieneIVA()">
                    <label class="form-check-label" for="inlineFormCheck">
                        Si
                    </label>
                </div>
                </div>
        
                <button (click)="Actualizar(producto)" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>

