

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Clientes</h1>
            <button (click)="nuevo()" class="btn btn-info" style="margin-left: 90%;">Crear</button>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>NOMBRE Y APELLIDO</th>
                        <th>TELEFONO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let item of personas">
                        <td>{{item.id_persona}}</td>
                        <td>{{item.nombre_persona}} {{item.apellido_persona}}</td>
                        <td>{{item.telefono_persona}}</td>
                        <td>
                            <button (click)="editar(item)" class="btn btn-warning">editar</button>
                            <button (click)="eliminar(item)" class="btn btn-danger" style="margin-left: 10px;">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
