
<!-- Content Header (Page header) -->

  
<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h1>Usuarios</h1>
          </div>
          <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                  <li class="breadcrumb-item active">Registro</li>
              </ol>
          </div>
      </div>
  </div>
  <!-- /.container-fluid -->
</section>




<div class="container-fluid">

  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
  


            <div class="form-group" id="left">
              
            <h2><label>Listado de Personas</label></h2>  
            <br>

            <div class="form-group">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" 
                name="filterPost" placeholder="Nombre o apellido" [(ngModel)]="filterPost" >
                <label for="floatingInput">BUSCAR PERSONA</label>
              </div>


            
            </div>
              <table class="table table-bordered table-striped-columns">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of  listaPersonas  | buscarperson:filterPost">
                        <td> {{person.id_persona}}
                        <td> {{person.nombre_persona}} </td>
                        <td> {{person.apellido_persona}} </td>
                        <button type="button" class=" btn-danger"  (click)= "seleccionar(person)">Seleccionar</button>
                    </tr>
                </tbody>
            </table>


            </div>
        </div>
      </div>
    </div>
  
  


  
    <div class="col-sm-6">
      <div class="card2">
        <div class="card-body">
          <mat-card >
            <mat-card-header>
              <mat-card-title>Datos generales de la persona seleccionada</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
        
            <mat-card-content >
              <br>
              
                <h5><strong>Id:    {{personaSele.id_persona}} </strong> </h5>
                  <h5><strong>Cédula:  {{personaSele.cedula}} </strong> </h5>
                <h5><strong>Nombre:   {{personaSele.nombre_persona}} </strong></h5>
                <h5><strong>Apellido:  {{personaSele.apellido_persona}}</strong></h5>
                <h5><strong>Dirección:  {{personaSele.direccion_persona}}</strong></h5>
                <h5><strong>Teléfono:  {{personaSele. telefono_persona}}</strong></h5>
                <h5><strong>Correo:   {{personaSele.correo_persona}}  </strong></h5>

                <br>
              <mat-divider></mat-divider>
   
             
            </mat-card-content>
     
     
            <div>
              <mat-card-header>
                <mat-card-title>Ingrese los datos para el nuevo usuario</mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>

              <mat-card-content>
            
                <br>
                <form action=""  ngNativeValidate [formGroup]="myForm" >
              
                <!---- <input type="text" class="form-control" id="idpersona"  name="idpers"  [value]=" personaSele.id_persona " [(ngModel)] ="usua.persona"   />------> 
                <div class="input-group mb-3">
                  <input type="text"  class="form-control" id="idpersona"  name="idpers"  list="datalistOptions" id="exampleDataList"
                   placeholder="Nombre o apellido" [(ngModel)] ="usua.persona" formControlName="nombre"
                     required  pattern="^[A-Za-z0-9]+$"> 
                  <datalist id="datalistOptions" >
                    <option *ngFor="let person of listaPersonas"  [value]="person.id_persona"  >
                        {{person.nombre_persona}}    {{person.apellido_persona}}
                    </option>
                 </datalist>
                </div>
                <br>



                <div class="input-group mb-3">
              <input type="text" class="form-control" id="usuario"  name="usua "   placeholder="Usuario"   formControlName="usuario"
      minlength="1"  title="El usuario debe tener minimo 1 caracteres."  required  pattern="[a-zA-Z]*"    [(ngModel)] ="usua.user" />
              <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
          </div>
                 
              <br>
         
               <div class="input-group mb-3">

                            <input type="password" class="form-control" id="pass"    name="contraseña " placeholder="Contraseña"  
                            formControlName="contraseña"   title="La contraseña  debe tener minimo 4 caracteres."  required pattern="[A-Za-z0-9!?-]{4,12}" [(ngModel)] ="usua.password"  />
                          <div class="input-group-append">
                            <div class="input-group-text">
                             <span class="fas fa-lock"></span>
                            </div>
                          </div>

              </div>
          



  
              <br>
        
              

              
              <div class="select">
                <select class="form-select"  id="selecionarr" aria-label="Default select example" name="selecionarr" id="rols"   [(ngModel)] ="usua.rol">
                  <option  selected disabled> Seleccione un rol </option>
                  <option *ngFor="let roles of  listaRoles"  [value]="roles.id_rol" > {{roles.nombre_rol}} </option>
              </select>
            </div>
       
        </form>
            </mat-card-content>



            </div>
  
          </mat-card>


          <br>

            <div class="buttons">
                <a href="#" class="btn btn-1 ">Limpiar</a>
                <a class="btn btn-2 "  (click)="guardarUsuario(usua)">Agregar</a>
                <a  class="btn btn-3 " (click)="Listado()">Listado</a>
            </div>

  
        </div>
      </div>
    </div>
  
<!----
    <pre>
    
      {{usua | json}} 
   </pre>
--------->
