<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Generar Factura</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Ventas</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>


<!-- /.INICIO CONTENEDOR -->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card" style="background-color: rgb(235, 234, 234);">
                        <div class="card-body">


                            <div class="col-md-12 mb-3">

                                <div class="form-group mb-2">

                                    <label class="col-form-label" for="iptCodigoVenta">
                                        <i class="fas fa-barcode fs-6"></i>
                                        <h2> <span class="small">Cliente</span> </h2>
                                    </label>





                                    <br>
                                    <label for="exampleDataList" class="form-label">Buscar</label> <br>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" list="datalistOptions" id="idpersona"
                                            name="idpers" list="datalistOptions" id="exampleDataList"
                                            placeholder="Nombre o apellido" [(ngModel)]="fac.persona">
                                        <datalist id="datalistOptions">
                                            <option *ngFor="let person of personas" [value]="person.id_persona">
                                                {{person.nombre_persona}} {{person.apellido_persona}}
                                            </option>
                                        </datalist>
                                        <button class="btn btn-primary" type="button" id="button-addon2"
                                            (click)="Agregar()">
                                            Agregar Nuevo <i class="fas  fa-user-plus"></i> </button>
                                           
                                              
                                           
                                    </div>
                                    <br>










                                </div>

                            </div>

















                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="background-color: rgb(235, 234, 234);">
                        <div class="card-body">

                            <div class="row g-3">
                                <div class="col-md">


                                    <div class="form-floating">
                                        <input name="factufecha" type="date" class="form-control"
                                            [(ngModel)]="fac.fecha">
                                        <label for="floatingInputGrid">Fecha</label>
                                    </div>

                                </div>
                                <div class="col-md">



                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="floatingInputGrid" placeholder=""
                                            name="consum" [value]="consumidorfinal" disabled>
                                        <label for="floatingInputGrid">Consumidor final</label>
                                    </div>



                                </div>

                                <div class="col-md">



                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="inlineFormCheck" name="si"
                                            id="check" (change)="consumidor()">
                                        <label class="form-check-label" for="inlineFormCheck">
                                            Si
                                        </label>
                                    </div>


                                </div>

                            </div>
                            <br>


                            <div class="row g-2">
                                <div class="col-md">
                                    
                                    <label for="floatingInputGrid">
                                        <h6> Punto de emisión</h6>
                                    </label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Username" value="001"
                                            disabled>

                                        <input type="text" class="form-control" placeholder="Server" value="001"
                                            disabled>
                                        <input type="text" class="form-control" [value]="numfac" disabled>
                                    </div>




                                </div>
                                <!-- <div class="col-md">

                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="floatingInputGrid" placeholder=""
                                            value="">
                                        <label for="floatingInputGrid">Número de factura</label>
                                    </div> -->





                            </div>


                        </div>


                    </div>
                </div>
                <button (click)="guardar(fac)" (click)="encontrarPersona()" class="btn btn-secondary">Asignar factura <i class="fas  fa-hand-pointer"></i> </button>
                <!-------
                <button (click)="createPdf()"  class="btn btn-secondary">ver cuerpo</button>-------->

            </div>
        </div>


























        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card  w-400 mb-3" style="background-color: rgb(235, 234, 234);">
                    <div class="card-body">



                        <div class="row">
                            <!-- INPUT PARA INGRESO DEL CODIGO DE BARRAS O DESCRIPCION DEL PRODUCTO -->


                            <br>


                            <label class="col-form-label" for="iptCodigoVenta">
                                <i class="fas fa-barcode fs-6"></i>
                                <h1> <span class="small">Productos</span></h1>
                            </label>
                            <form>
                                <div class="input-group mb-3">


                                    <!-- Button trigger modal -->
                                    <div class="form-group">
                                        <button (click)="listaProducto()" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">
                                        Agregar Productos <i class="fas   fa-cubes"></i>
                                    </button>

                                    <button (click)="escaner()" class="btn btn-secondary" style="margin-left: 10px; background-color: cornflowerblue;">Lector de Código <i class="fas   fa-th"></i> </button>
                                    </div>
                                    

                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Productos
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr class="text-center">
                                                                <th>ID</th>
                                                                <th>Código barras</th>
                                                                <th>NOMBRE</th>
                                                                <th>DESCRIPCION</th>
                                                                <th>CANTIDAD</th>
                                                                <th>STOCK</th>
                                                                <th>ACCIONES</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="text-center" *ngFor="let item of productos">
                                                                <td>{{item.id_producto}}</td>
                                                                <td>{{item.codigoBarras_producto}}</td>
                                                                <td>{{item.nombre_producto}}</td>
                                                                <td>{{item.descripcion_producto}}</td>
                                                                <td>

                                                                    <input #identificador type="number" placeholder="0"
                                                                        autocomplete="off">


                                                                </td>
                                                                <td>{{item.stock}}</td>
                                                                <td>
                                                                    <button
                                                                        (click)="agregarProduc(item,identificador.value)"
                                                                        type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal"> <i class="fas fa-plus-square"></i> </button>
                                                                </td>

                                                                <!-- <button (click)="agregarProduc(item)" class="btn btn-lg">Agregar</button> -->
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <!-- <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Understood</button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>





                                </div>

                            </form>
                            <br>





















                            <!-- ETIQUETA QUE MUESTRA LA SUMA TOTAL DE LOS PRODUCTOS AGREGADOS AL LISTADO -->
                            <div class="col-md-7 mb-3 rounded-3"
                                style="background-color: gray;color: white;text-align:center;border:1px solid gray;">
                                <h2 class="fw-bold m-0">S/ <span class="fw-bold" id="totalVenta">{{totalFinal}}</span>
                                </h2>
                            </div>

                            <!-- BOTONES PARA VACIAR LISTADO Y COMPLETAR LA VENTA -->
                            <div class="col-md-5 text-right">


                            </div>

                            <!-- LISTADO QUE CONTIENE LOS PRODUCTOS QUE SE VAN AGREGANDO PARA LA COMPRA -->
                            <div class="col-md-12">

                                <!-- <table id="lstProductosVenta" class="display nowrap table-striped w-100 shadow"> -->
                                <table class="table">
                                    <thead class="bg-gray text-left fs-6">
                                        <tr>

                                            <th>Codigo</th>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                            <th>Total</th>
                                            <th class="text-center">Opciones</th>

                                        </tr>
                                    </thead>
                                    <tbody class="small text-left fs-6">

                                        <tr class="text-center" *ngFor="let item2 of facN">
                                            <!-- LISTA DE PRODCUTOS EN LA TABLA NUEVA-->
                                            <td>{{item2.id_detalle}}</td>
                                            <td>{{item2.producto.nombre_producto}}</td>
                                            <td>{{item2.cantidad}}</td>
                                            <td>{{item2.producto.pvp_producto}}</td>
                                            <!-- <td><input type="number" min="0" name="iptEfectivo" id="iptEfectivoRecibido" class="form-control form-control-sm" placeholder="Cantidad de productos"
                                            [(ngModel)]="detalle.cantidad"></td> -->
                                            <td>{{item2.total}}</td>
                                            <td>
                                                <button (click)="eliminar(item2)" class="btn btn-danger"><i class="fas fa-trash"></i>  </button>
                                            </td>

                                        </tr>


                                    </tbody>
                                </table>
                                <!-- / table -->
                            </div>
                            <!-- /.col -->
                        </div>
















                    </div>
                </div>
            </div>

















            <div class="col">
                <div class="card " style="background-color: rgb(235, 234, 234);">
                    <div class="card-body">


                        <div class="col">

                            <div class="card card-gray shadow">
                                <div class="card-body p-2">
                                    <!-- INPUT DE DESCUENTO -->
                                    <div class="form-group">
                                        <label for="iptDescuento" class="p-0 m-0">Descuento (0%)</label>

                                        <input [(ngModel)]="descuento1" type="number" min="0" name="iptDescuento"
                                            id="iptDescuento" class="form-control-sm form-control "
                                            placeholder="Porcentaje de descuento">

                                            <!-- <button (click)="calcuDescuen()" class="btn btn-primary ">Aplicar</button> -->
                                    </div>

                                    <div class="form-group">
                                        <button (click)="calcuDescuen()" class="btn btn-primary ">Aplicar</button>
                                    </div>
                                    
                                </div>


                                
                            </div>

                            <div class="card card-gray shadow">

                                <div class="card-body p-2">
                                    <!-- SELECCIONAR TIPO DE PAGO -->
                                    <div class="form-group mb-2">

                                        <label class="col-form-label p-0" for="selCategoriaReg">
                                            <i class="fas fa-money-bill-alt fs-6"></i>
                                            <span class="small">Tipo Pago</span><span class="text-danger">*</span>
                                        </label>

                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                            id="selTipoPago">
                                            <option value="0">Seleccione Tipo Pago</option>
                                            <option value="1" selected="true">Efectivo</option>
                                            <option value="2">Yape</option>
                                            <option value="3">Plin</option>
                                            <option value="4">Transferencia</option>
                                        </select>

                                        <span id="validate_categoria" class="text-danger small fst-italic"
                                            style="display:none">
                                            Debe Ingresar tipo de pago
                                        </span>

                                    </div>

                                    <!-- INPUT DE EFECTIVO ENTREGADO -->
                                    <div class="form-group">
                                        <label for="iptEfectivoRecibido" class="p-0 m-0">Efectivo recibido</label>
                                        <input [(ngModel)]="vuelto1" type="number" min="0" name="iptEfectivo"
                                            id="iptEfectivoRecibido" class="form-control form-control-sm"
                                            placeholder="Cantidad de efectivo recibida" (click)="calcuVuelto()">
                                    </div>


                                    <!-- MOSTRAR MONTO EFECTIVO ENTREGADO Y EL VUELTO -->
                                    <div class="row mt-2">

                                        <div class="col-12">
                                            <h6 class="text-start fw-bold">Monto Efectivo: S./ <span
                                                    id="EfectivoEntregado">{{vuelto1}}</span></h6>
                                        </div>

                                        <div class="col-12">
                                            <h6 class="text-start text-danger fw-bold">Vuelto: S./ <span
                                                    id="EfectivoEntregado" step=".01">{{vuelto1-vuelto2}}</span>
                                            </h6>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="card card-gray shadow ">

                                <!-- <h5 class="card-header py-1 bg-primary text-white text-center">
                                Total Venta: S./ <span id="totalVentaRegistrar">0.00</span>
                            </h5> -->



                                <div class="card-body p-2">

                                    

                                    <!-- MOSTRAR EL SUBTOTAL, IGV Y TOTAL DE LA VENTA -->
                                    <div class="row fw-bold">

                                        <div class="col-md-7">
                                            <span>SubTotal 0%</span>
                                        </div>
                                        <div class="col-md-5 text-right">
                                            S./ <span class="" id="">{{subtotaCero}}</span>
                                        </div>

                                        <div class="col-md-7">
                                            <span>Subtotal 12%</span>
                                        </div>
                                        <div class="col-md-5 text-right">
                                            S./ <span class="" id="">{{subtotaIva12}}</span>
                                        </div>

                                        <div class="col-md-7">
                                            <span>Descuento</span>
                                        </div>
                                        <div class="col-md-5 text-right">
                                            S./ <span class="" id="">{{descuento2}}</span>
                                        </div>

                                        <div class="col-md-7">
                                            <span>IVA 12%</span>
                                        </div>
                                        <div class="col-md-5 text-right">
                                            S./ <span class="" id="boleta_igv">{{subtotaIva}}</span>
                                        </div>

                                        <div class="col-md-7">
                                            <span>Total a pagar</span>
                                        </div>
                                        <div class="col-md-5 text-right">
                                            S./ <span class="" id="boleta_subtotal">{{totalAPagar}}</span>
                                        </div>

                                        <!-- <div class="col-md-7">
                                                <span>TOTAL</span>
                                            </div>
                                            <div class="col-md-5 text-right">
                                                S./ <span class="" id="boleta_total">0.00</span>
                                            </div> -->
                                    </div>

                                </div><!-- ./ CARD BODY -->

                            </div><!-- ./ CARD -->
                        </div>






                    </div>
                </div>
            </div>
        </div>








        <div class="card">
            <div class="card-header">
                <h2 class="text-center"><strong> Acciones</strong> </h2>
            </div>
            <div class="card-body">
                <button (click)="createPdf()" type="button" class="btn btn-primary btn-lg" style="background-color: rgb(96, 99, 96);">Generar Factura  <i class="fas   fa-cart-plus"></i> </button>
                <button type="button" class="btn btn-primary btn-lg" >Generar SRI</button>
                <button (click)="nuevaFC()" class="btn btn-primary btn-lg" style="margin-left: 60%; background-color: rgb(201, 15, 185);">Nueva Factura</button>
            </div>
        </div>
























    </div>
</div>

<!-- /. CONTENEDOR-->